---
import Post from '../components/Post.astro'
import { type FunctionalitySubSection } from '../models'

interface Styles {
    section: string,
    dataContainer: string,
    elementsContainer: string
}

interface Props {
    styles: Styles
    sectionData: FunctionalitySubSection
}

const { sectionData, styles } = Astro.props;
---

<section class={`relative flex overflow-hidden ${styles.section}`}>
    <div
        class={`absolute flex flex-col justify-center top-0 h-full bg-card z-20 p-5 ${styles.dataContainer}`}
    >
        <header>
            <h2 class="text-text-primary text-6xl font-bold drop-shadow-title">
                {sectionData.title}
            </h2>
            <span class="text-text-tertiary text-2xl">
                {sectionData.description}
            </span>
        </header>
    </div>
    <div>
        <div class={`posts__container flex gap-1 ${styles.elementsContainer}`}>
            {
                Array(15)
                    .fill(null)
                    .map(() => (
                        <div class="shrink-0 h-[18rem]">
                            <Post />
                        </div>
                    ))
            }
        </div>
    </div>
</section>
