---
import Post from "@/components/Post.astro"

const content = [
    {
        title: "Share your recipes",
        description: "Share them please <3",
    },
    {
        title: "Meet food lovers",
        description: "Find new friends :D",
    },
    {
        title: "Learn and teach",
        description:
            "With our step viewer you can show how to prepare a recipe",
    },
];
---

<section class="posts relative mt-1 mb-0 flex flex-col gap-1 overflow-hidden">
    {
        content.map((contentData, index) => {
            let sideStylesSubSection = "";
            let sideStylesData = "";
            let sideStylesPosts = "";

            if (index % 2 === 0) {
                sideStylesData = "left-0 section-posts__data-container--left";
                sideStylesPosts = "posts__container--left";
                sideStylesSubSection = "sub-section--left";
            } else {
                sideStylesData = "right-0 section-posts__data-container--right";
                sideStylesPosts = "posts__container--right";
                sideStylesSubSection = "sub-section--right";
            }

            return (
                <section class={`relative flex overflow-hidden ${sideStylesSubSection}`}>
                    <div
                        class={`absolute flex flex-col justify-center top-0 h-full bg-card z-20 p-5 ${sideStylesData}`}
                    >
                        <h2 class="text-text-primary text-6xl font-bold drop-shadow-title">
                            {contentData.title}
                        </h2>
                        <span class="text-text-tertiary text-2xl">
                            {contentData.description}
                        </span>
                    </div>
                    <div>
                        <div
                            class={`posts__container flex gap-1 ${sideStylesPosts}`}
                        >
                            {Array(10)
                                .fill(null)
                                .map(() => (
                                    <div class="shrink-0 h-[18rem]">
                                        <Post />
                                    </div>
                                ))}
                        </div>
                    </div>
                </section>
            );
        })
    }
</section>

<style>
    .sub-section--left {
        justify-content: start;
    }

    .sub-section--right {
        justify-content: end;
    }

    .posts__container {
        animation: scroll-x linear forwards;
        animation-duration: auto;
        animation-timeline: scroll(root block);
        animation-range: 10vh 100%;
    }

    .section-posts__data-container--left {
        background: linear-gradient(
            90deg,
            rgba(19, 19, 24, 1) 0%,
            rgba(19, 19, 24, 0) 100%
        );
    }

    .section-posts__data-container--right {
        background: linear-gradient(
            90deg,
            rgba(19, 19, 24, 0) 0%,
            rgba(19, 19, 24, 1) 100%
        );
    }

    .posts__container--left {
        --translate-value: -50%;
    }

    .posts__container--right {
        --translate-value: 50%;
    }

    @keyframes scroll-x {
        to {
            transform: translateX(var(--translate-value));
        }
    }
</style>
